<% content_for :content do %>

  <div class="profile-picture" style="width: 100%;display: flex;justify-content: center;">
    <img src="<%= @user.picture %>" alt="" class="img-circle" style="width: 100px;height: 100px;background: #fff;overflow: hidden;box-shadow: 0 0 5px #ebebeb;border: 3px solid #00aeef">
  </div>
  <div style="width: 100%;display: flex;justify-content: center">
    <h3><%= @user.username %></h3>
  </div>
  <div style="width: 100%;display: flex;justify-content: center">
    <a href="<%= disconnect_path %>" class="btn btn-default">Déconnexion</a>
  </div>
  <% if flash[:msg] %>
    <div style="margin-top: 20px;" class="alert alert-success"><%= flash[:msg] %></div>
  <% end %>
  <h1>Mon profil</h1>
  <table class="table table-hover" style="margin: 40px 0;">
    <thead>
    <tr>
      <th scope="col">Nom d'utilisateur</th>
      <th scope="col">Email</th>
      <th scope="col">Inscrit le </th>
      <th scope="col">Dernière modification du profil</th>
      <th scope="col">Articles postés</th>
      <th scope="col">Commentaires postés</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th><%= @user.username %></th>
      <td><%= @user.email %></td>
      <td><%= @user.created_at %></td>
      <td><%= @user.updated_at %></td>
      <td><%= @user.post.count %></td>
      <td><%= @user.comment.count %></td>
    </tr>
    </tbody>
  </table>

  <% if is_connect_and_admin? %>
    <% if is_banned? %>
      <div class="alert alert-warning">Vous avez été bannis. Vous ne pouvez donc malheureusement ne plus écrire d'articles..</div>
    <% else %>
      <h1>Mes derniers articles</h1>
      <a href="<%= admin_home_path %>" data-turbolinks="false" class="btn btn-success">Nouvel article</a>
      <% if is_connect_and_superadmin? %>
        <a href="<%= comments_management_path %>" data-turbolinks="false" id="comments-button" class="btn btn-success">Gérer les commentaires</a>
        <a href="<%= users_management_path %>" data-turbolinks="true" id="users-button" class="btn btn-success">Gérer les utilisateurs</a>
        <a href="<%= categories_management_path %>" data-turbolinks="true" id="users-button" class="btn btn-success">Gérer les catégories</a>
      <% end %>
      <% if @user.post.count < 1 %>
        <div style="margin: 30px 0;" class="alert alert-warning">Vous avez aucun article posté. Cliquez sur le bouton nouvel article afn d'en écrire un.</div>
      <% else %>
        <table class="table table-hover" style="margin: 40px 0;">
          <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Posté le </th>
            <th scope="col">Dernière modification le</th>
            <th scope="col">Commentaires postés</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @user.post.order("created_at DESC").each do |post| %>
            <tr>
              <th><a target="_blank" href="<%= post_show_path(post.slug) %>"><%= post.title %> </a><%= raw !post.is_posted ? "<span style='color: green;font-style: italic;'>(Brouillon)</span>" : "" %></th>
              <td><%= post.created_at %></td>
              <td><%= post.updated_at %></td>
              <td><%= post.comment.count %></td>
              <td><a data-turbolinks="false" href="<%= edit_article_path(post.id) %>" class="btn btn-primary">Éditer</a></td>
              <td><a href="<%= delete_path(post.id) %>" class="btn btn-danger" id="delete-post">Suprimer</a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>

<% end %>