<% content_for :content do %>

  <a href="<%= user_profile_path %>">Retour</a>
  <h1>Édition de l'article <strong><%= @post.title %></strong></h1>
  <div class="alert alert-warning">Vous êtes en mode édition</div>
  <% if !@post.is_posted %>
    <div class="alert alert-info">Cet article est en mode brouillon</div>
  <% end %>
  <form action="<%= edit_path(@post.id) %>" method="post" style="margin-bottom: 40px;">
    <div class="form-group">
      <label for="posted">Brouillon</label>
      <input type="checkbox" name="is_posted" <%= @post.is_posted ? "not" : "checked='checked'" %>>
    </div>  
    <div class="form-group">
      <label>Titre de l'article</label>
      <input type="text" class="form-control" name="title" placeholder="Mon titre..." value="<%= @post.title %>">
    </div>
    <div class="form-group">
      <label>Slug de l'article</label>
      <input type="text" class="form-control" name="slug" placeholder="mon-slug" value="<%= @post.slug %>">
    </div>
    <div class="form-group">
      <label>Miniature de l'article</label>
      <input type="text" class="form-control" name="thumbnail" placeholder="Miniature" value="<%= @post.thumbnail %>">
    </div>
    <div class="form-group">
      <label>Catégorie</label>
      <select name="category" class="form-control">
        <option selected="selected" value="<%= @post.category.id %>"><%= @post.category.name %></option>
        <% Category.where.not(name: @post.category.name).each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>

    <input type="hidden" name="post" value="<%= @post.id %>">

    <div class="form-group">
      <label>Contenu</label>
      <textarea name="content" class="form-control" cols="30" rows="10" id="markdown-textarea" placeholder="Contenu de l'article.."><%= @post.content %></textarea>
    </div>

    <button type="submit" class="btn btn-default">Modifier</button>

  </form>

<% end %>