<% content_for :content do %>

  <h1>Se connecter</h1>
  <% if flash[:msg] %>
  <div class="alert alert-danger"><%= flash[:msg] %></div>
  <% end %>
  <form method="post">
    <div class="form-group">
      <label>Addresse e-mail</label>
      <input type="email" name="email" class="form-control" placeholder="exemple@domaine.com">
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" name="password" class="form-control" placeholder="Mot de passe">
    </div>
    <button type="submit" class="btn btn-submit">Se connecter</button>
  </form>

<% end %>