<% content_for :content do %>

  <div class="alert alert-warning">Vous êtes en mode de création d'article</div>
  <% if flash[:error] %>

    <div class="alert alert-danger">
      <ul>
        <% flash[:error].each do |e| %>
        <li>- <%= e %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <form action="<%= new_post_path %>" method="post" style="margin-bottom: 40px;" id="new-post-form" data-url="<%= admin_home_path %>">
    <div class="form-group">
      <label>Titre de l'article</label>
      <input type="text" class="form-control" name="title" placeholder="Mon titre..." id="title">
    </div>
    <div class="form-group">
      <label>Slug de l'article</label>
      <input type="text" id="slug" class="form-control" name="slug" placeholder="mon-slug">
    </div>
    <div class="form-group">
      <label>Miniature de l'article</label>
      <input type="text" class="form-control" name="thumbnail" placeholder="Miniature">
    </div>
    <div class="form-group">
      <label>Catégorie</label>
      <select name="category" class="form-control">
        <option selected="selected">Catégorie</option>
        <% Category.all.each do |c| %>
          <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label>Contenu</label>
      <textarea name="content" class="form-control" cols="30" rows="10" id="markdown-textarea" placeholder="Contenu de l'article.."></textarea>
    </div>

    <button type="submit" class="btn btn-default">Créer</button>

  </form>

<% end %>