<% content_for :content do %>

  <h1>Gérer les Catégories</h1>
  <% if flash[:msg] %>
    <div class="alert alert-success"><%= flash[:msg] %></div>
  <% end %>
  <table class="table table-hover" style="margin: 40px 0;">
    <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody id="comments">
    <% @categories.each do |cat| %>
      <tr>
        <th><%= cat.name %></th>
        <th><a href="<%= categories_destroy_path(cat.id) %>?redirect=/admin/categories" class="btn btn-danger">Supprimer</a></th>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>