<% content_for :content do %>

  <h1>Gérer les Utilisateurs</h1>
  <% if flash[:msg] %>
    <div class="alert alert-success"><%= flash[:msg] %></div>
  <% end %>
  <table class="table table-hover" style="margin: 40px 0;">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody id="comments">
    <% @users.each do |user| %>
      <tr>
        <th style="color: <%= user.banned == 1 ? "red": 'black' %>;"><%= user.username %></th>
        <th style="color: <%= user.banned == 1 ? "red": 'black' %>;"><%= user.email %></th>
        <% unless user.id == session[:id] %>
          <th><a href="<%= ninja_path(user.id) %>" class="btn btn-success">Ninja !</a></th>
      <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>