<% content_for :content do %>

  <h1>Gérer les commentaires <button id="refresh-comment" class="btn btn-default">Rafraichir</button></h1>
  <% if flash[:msg] %>
  <div class="alert alert-success" id="commentSuccess"><%= flash[:msg] %></div>
  <% end %>
  <table class="table table-hover" style="margin: 40px 0;">
    <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Posté le </th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody id="comments" data-url="<%= all_comments_path %>">
    <tr>
     <th>
      <div class="loader" style="margin-top: 20px;">
        <div class="loader__line"></div>
        <div class="loader__line"></div>
        <div class="loader__line"></div>
        <div class="loader__line"></div>
      </div>
    </th>
    </tr>
    </tbody>
  </table>

<% end %>