<% content_for :title do "#{@user.username} - Technoblog" end %>
<% content_for :content do %>
  <h1><%= @user.username %><span style="margin-left: 10px;" class="badge badge-<%=
    if @user.level == 1
    "secondary"
    elsif @user.level == 2
      "info"
    end
  %>
"><%= get_level_name(@user.id) %></span></h1>
    <% if @user.post.count <= 0 %>
    <h3>Cet utilisateur a posté aucun article</h3>
    <% else %>
    <ul>
      <% @user.post.all.each do |post| %>
        <li><a href="<%= post_show_path(post.slug) %>"><%= post.title %></a></li>
      <% end %>
    </ul>
    <% end %>
    <div class="comments-user" style="margin: 40px 0 20px 0;">
      <h2 style="padding-bottom: 20px;border-bottom: 1px solid #ebebeb">Derniers commentaires</h2>
      <% if @user.comment.count <= 0 %>
        <h3>Cet utilisateur a posté aucun commentaire</h3>
      <% else %>
          <% @user.comment.each do |c| %>
            <div class="comment-user" style="padding: 5px 0;">
              <h4><%= truncate(c.content, length: 50) %><br /><small style="margin-top: 10px;"><a href="<%= post_show_path(c.post.slug) %>">Sur: <%= c.post.title %></a>Le <%= time_tag(c.created_at) %></small></h4>
            </div>
          <% end %>
      <% end %>
    </div>
<% end %>