<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 overflow">
        <div class="social-icons pull-right">
          <ul class="nav nav-pills">
            <li><a href="/rss" target="_blank"><i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-inverse" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a data-turbolinks="false" class="navbar-brand" href="<%= home_path %>">
          <h1><img src="https://www.bettshow.com/__resource/companyProfiles/6ACCB598-5056-B762-90FBD8967B0A498B-logo.png" alt="" style="width: 40px;">Technoblog</h1>
        </a>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="<%= "active" if request.original_url == home_url%>" id="header-link"><a href="<%= home_path %>">Accueil</a></li>
          <li class="dropdown <%= "active" if controller_name == "categories" %>" id="header-link"><a href="#">Catégories <i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
              <% Category.all.each do |c| %>
                <li class="<%= "active" if params[:name] == c.name %>"><a style="width: 100%;margin: 0;padding: 10px 10px;" href="<%= show_category_path(c.name) %>"><%= c.name %></a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="search">
        <a href="<%= search_path %>"><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</header>