<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-6">
            <h1 class="title">Technoblog</h1>
            <p>Blog lié aux nouvelles technologies</p>
          </div>
          <% if is_connect? %>
            <div class="col-sm-6" id="img-profile-container">
              <h5 style="display: inline-block;margin-top: 28px;margin-left: 220px;">Connecté en temps que <%= current_user.username %></h5>
              <div class="img-circle">
                <a href="<%= user_profile_path %>">
                  <img id="profile-image" src="<%= User.find(session[:id]).picture %>" alt="">
                </a>
              </div>
            </div>
          <% else %>
            <div class="col-sm-6" id="register-link-container">
              <a class="login-btn" href="<%= login_path %>">Se connecter</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>