<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="<%= show_user_path(user.username) %>">
          <%= user.username %>
        </a>
      </li>
      <li>
        <a href="<%= user_profile_path %>">Mon profil</a>
      </li>
      <% if is_connect_and_admin? %>
      <li>
        <a data-turbolinks='false' href="<%= new_post_path %>">Nouvel article</a>
      </li>
      <% end %>
      <li>
        <a href="<%= disconnect_path %>">Me déconnecter</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>
