<div class="col-md-3 col-sm-5" data-margin-top="20" id="sidebar">
  <div class="sidebar blog-sidebar">
    <div class="sidebar-item recent">
      <h3>Derniers article</h3>
      <% Post.posted.limit(4).order("created_at DESC").each do |p| %>
        <div class="media">
          <div class="pull-left">
            <a href="#"><img style="width: 100px;" src="<%= p.thumbnail %>" alt=""></a>
          </div>
          <div class="media-body">
            <h4><a href="<%= post_show_path(p.slug) %>"><%= p.title %></a></h4>
            <p>Il y a <%= time_ago_in_words(p.created_at) %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="sidebar-item categories">
      <h3>Catégories</h3>
      <ul class="nav navbar-stacked">
        <% Category.all.each do |c| %>
          <li><a href="<%= show_category_path(c.name) %>"><%= c.name %> (<%= c.post.count %>)</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>