<% content_for :title do "Technoblog - "+ "Catégorie #{@category.name}" if @category end %>
<% content_for :content do %>
  <% if @category %>
    <h1><%= @category.name %></h1>
    <% if @category.post.count <= 0 %>
      <h3>Aucun articles dans cette catégorie</h3>
    <% else %>
      <ul>
        <% @category.post.all.order("created_at DESC").each do |post| %>
          <li><a href="<%= post_show_path(post.slug) %>"><%= post.title %></a></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h1>Il semblerait que cette catégorie soit invalide</h1>
  <% end %>
<% end %>