<% content_for :title do "Technoblog" end %>
<% content_for :content do %>
  <div class="row" id="post-all" data-ajax="<%= posts_format_path %>.json" data-url="<%= home_url %>">
    <% if flash[:msg] %>
    <div class="alert alert-success"><%= flash[:msg] %></div>
    <% end %>
   <!-- rendering posts from javascript -->
    <div id="loader-posts" style="width: 100%;height: 100%;padding: 10px;">
      <div class="loader">
        <div class="loader__line"></div>
        <div class="loader__line"></div>
        <div class="loader__line"></div>
        <div class="loader__line"></div>
      </div>
    </div>
    <div id="post-content-list">
      <% if Post.posted.count < 1 %>
        <h1>Aucun article a été trouvé...</h1>
      <% else %>
        <% @posts.each do |post| %> <div class="col-md-6 col-sm-12 blog-padding-right"> <div class="single-blog two-column"> <div class="post-thumb" style="width: 390.75px;height: 219.8px;overflow: hidden;"> <a href="<%= post_show_path(post.slug) %>"><img src="<%= post.thumbnail %>" class="img-responsive" alt="" style="width: 100%;height: 100%;"></a> <div class="post-overlay"> <span class="uppercase"><a href="javascript:void(0);"><%= post.created_at.day %><br /><small><%= post.created_at.month %></small></a></span> </div> </div> <div class="post-content overflow"> <h2 class="post-title bold"><a href="<%= post_show_path(post.slug) %>"><%= truncate(post.title, length: 35) %></a></h2> <h3 class="post-author"><a href="#">Posté par <%= post.user.username %></a></h3> <p><%= strip_tags(Markdown.new(truncate(post.content, length: 63)).to_html) %></p> <a href="<%= post_show_path(post.slug) %>" class="read-more">Lire la suite</a> <div class="post-bottom overflow"> <ul class="nav nav-justified post-nav"> <li><a href="<%= show_category_path(post.category.name) %>"><i class="fa fa-tag"></i><%= truncate(post.category.name, length: 12) %></a></li> <li><a href="#"><i class="fa fa-comments"></i><%= post.comment.count %></a></li> </ul> </div> </div> </div> </div> <% end %>
    <% end %>
    </div>
  </div>
<% end %>