<% content_for :title do %>
  <% if @post.count <= 0 || !@q %>
    Aucun résultat <%= "pour #{@q}" if @q %>
  <% else %>
    Résultat<%= "s" if @posts.count > 1%> pour <%= @q %>
  <% end %>
<% end %>
<% content_for :content do %>
  <h1 style="margin-bottom: 20px;">Résultat<%= "s" if @post.count > 1 %> <%= "pour <strong>#{@q}</strong>".html_safe if @q %></h1>
  <form id="search-form" name="search-form" method="get" action="<%= search_path %>" style="margin: 30px 0;width: 100%;padding-right: 14px;" data-turboform>
    <div class="form-group">
      <input type="text" id="search-text" name="q" class="form-control" required="required" placeholder="Tapez un mot clé..">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-submit" value="Rechercher">
    </div>
  </form>
  <% if @post.count >= 1 %>
    <div class="row">
      <% @post.each do |post| %>
        <div class="col-md-6 col-sm-12 blog-padding-right">
          <div class="single-blog two-column">
            <div class="post-thumb" style="width: 390.75px;height: 219.8px;overflow: hidden;">
              <a href="<%= post_show_path(post.slug) %>"><img src="<%= post.thumbnail %>" class="img-responsive" alt="" style="width: 100%;height: 100%;"></a>
              <div class="post-overlay">
                <span class="uppercase"><a href="javascript:void(0);"><%= post.created_at.day %><br /><small><%= post.created_at.month %></small></a></span>
              </div>
            </div>
            <div class="post-content overflow">
              <h2 class="post-title bold"><a href="<%= post_show_path(post.slug) %>"><%= truncate(post.title, length: 30) %></a></h2>
              <h3 class="post-author"><a href="#">Posté par <%= post.user.username %></a></h3>
              <p><%= truncate(strip_tags(Markdown.new(post.content).to_html), length: 56) %></p>
              <a href="<%= post_show_path(post.slug) %>" class="read-more">Lire la suite</a>
              <div class="post-bottom overflow">
                <ul class="nav nav-justified post-nav">
                  <li><a href="<%= show_category_path(post.category.name) %>"><i class="fa fa-tag"></i><%= truncate(post.category.name, length: 12) %></a></li>
                  <li><a href="#"><i class="fa fa-comments"></i><%= post.comment.count %></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <h3>Aucun résultat</h3>
  <% end %>
<% end %>