<% content_for :title do "#{@post.title} - Technoblog" end %>
<% content_for :content do %>
  <% if flash[:msg] %>
    <div class="alert alert-success">
      <%= flash[:msg] %>
    </div>
  <% end %>
  <div class="img-post" style="width: 100%;height: 400px;">
    <img data-toggle="tooltip" data-placement="top" title="Tooltip on top" src="<%= @post.thumbnail %>" alt="" style="width: 80%;height: 100%;">
  </div>
  <h1 style="background: #fff;transform: translateY(-60px);padding: 20px 10px 0 0;width: 70%;"><%= @post.title %><span style="margin-left: 20px;" class="badge badge-info"><a style="color: #fff" href="<%= show_category_path(@post.category.name) %>"><%= @post.category.name %></a></span></h1>
  <% if is_connect? && @post.user_id == session[:id] %>
  <a style="margin-top: -80px;" href="<%= edit_article_path(@post.id) %>" class="btn btn-primary" data-turbolinks="false">Éditer</a>
  <% end %>
  <p><a href="<%= show_user_path(@post.user.username) %>">Posté par <%= @post.user.username %> Le <%= @post.created_at.strftime("%F") %></a></p>
  <div id="post-content"><p style="font-size: 16px;"><%= raw simple_format(Markdown.new(@post.content).to_html, disable_indented_code_blocks: false) %></p></div>
  <div class="comments-post" style="margin-top: 60px;">
    <div class="title" style="width: 100%;padding-bottom: 10px;border-bottom: 1px solid #ebebeb;">
      <h2>Commentaires - <%= @post.comment.count %></h2>
    </div>
    <% if @post.comment.count < 1 %>
      <h3>Aucun commentaire</h3>
      <% if is_connect? %>
        <button class="btn btn-success" style="margin: 20px 0;" id="comment-button">Ajouter un commentaire</button>
        <form action="<%= create_comment_path %>" method="post" id="comment-form">
          <div class="form-group">
            <textarea name="content" class="form-control" cols="30" rows="3" placeholder="Votre commentaire"></textarea>
          </div>
          <input type="hidden" name="post" value="<%= @post.id %>">
          <button type="submit" class="btn btn-block">Envoyer</button>
        </form>
      <% else %>
      <div class="alert alert-warning">
        Veuillez vous connecter ou vous inscrire pour ajouter un commentaire.
      </div>
      <% end %>
    <% else %>
      <% if is_connect? %>
        <button class="btn btn-success" id="comment-button" style="margin: 20px 0;">Ajouter un commentaire</button>
        <form action="<%= create_comment_path %>" method="post" id="comment-form">
          <div class="form-group">
            <textarea name="content" class="form-control" cols="30" rows="5" placeholder="Votre commentaire"></textarea>
          </div>
          <input type="hidden" name="post" value="<%= @post.id %>">
          <button type="submit" class="btn btn-block">Envoyer</button>
        </form>
      <% else %>
        <div class="alert alert-warning">
          Veuillez vous connecter ou vous inscrire pour ajouter un commentaire.
        </div>
      <% end %>
      <% @post.comment.order("created_at DESC").each do |comment| %>
          <div class="comment" style="width: 100%;border-bottom: 1px solid #ebebeb">
            <div class="media" style="width: 20%;height: 100%;display: inline-block;float: left;padding: 30px 0;">
              <img src="<%= comment.user.picture %>" alt="<%= comment.user.username %>" style="width: 70%; height: 100%;">
              <p style="margin: 20px 0 0 0;padding: 0;"><a style="margin: 0;padding: 0;" href="javascript:void(0);">Il y a <%= time_ago_in_words(comment.created_at) %></a></p>
            </div>
            <div class="content" style="width: 80%;padding: 30px 0;display: inline-block;float: left;">
              <p style="margin: 0;padding: 0;"><a href="<%= show_user_path(comment.user.username) %>"><%= comment.user.username %></a></p>
              <p style="margin: 0;padding: 0;"><%= raw Markdown.new(comment.content).to_html %></p>
            </div>
            <div class="clear" style="clear: both"></div>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="buttons" style="margin-bottom: 120px;margin-top: 40px;width: 100%;">
    <% if @last %>
      <a class="btn btn-info wow bounceIn" style="float: left;" href="<%= post_show_path(@last.slug) %>"><i style="margin-right: 10px;" class="fa fa-arrow-left"></i><%= @last.title %></a>
    <% end %>
    <% if @next %>
      <a class="btn btn-info wow bounceIn" style="float: right;" href="<%= post_show_path(@next.slug) %>"><i style="margin-right: 10px;" class="fa fa-arrow-right"></i><%= @next.title %></a>
    <% end %>
  </div>
<% end %>