<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xml:base="http://www.test.com" xmlns:dc="http://purl.org/dc/elements/1.1/">

  <channel>
    <title>Technoblog</title>
    <link><%= home_url %></link>
    <description>Blog lié au nouvelles technologies</description>
    <% @posts.each do |post| %>
      <item>
        <title><%= post.title %></title>
        <link><%= post_show_path(post.slug) %></link>
        <description><%= truncate(strip_tags(Markdown.new(post.content).to_html), length: 100) %></description>
      </item>
    <% end %>
  </channel>

</rss>