
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
    overflow-x: hidden;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

html .turbolinks-progress-bar {
    height: 8px;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    background: linear-gradient(270deg, #00c5ff, #6980ff, #8e69ff, #ff8470);
    background-size: 800% 800%;
}

@-webkit-keyframes loader {
    from {
        opacity:1.0;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    to {
        opacity:0.15;
        -webkit-transform:
                translateY(-10px)
                scale(0.75);
        transform:
                translateY(-10px)
                scale(0.75);
    }
}

@keyframes loader {
    from {
        opacity:1.0;
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
    to {
        opacity:0.15;
        -webkit-transform:
                translateY(-10px)
                scale(0.75);
        transform:
                translateY(-10px)
                scale(0.75);
    }
}

.loader__line {
    height:1em;
    width:1em;
    display:inline-block;
    background-color:#E93933;
    border-radius:50%;
    -webkit-animation:loader 0.6s infinite alternate;
    animation:loader 0.6s infinite alternate;
}

.loader__line:nth-of-type(2) {
    -webkit-animation-delay:0.15s;
    animation-delay:0.15s;
}

.loader__line:nth-of-type(3) {
    -webkit-animation-delay:0.3s;
    animation-delay:0.3s;
}

.loader__line:nth-of-type(4) {
    -webkit-animation-delay:0.45s;
    animation-delay:0.45s;
}

#loader-posts {
    display: flex;justify-content: center;
}

#loader-posts.loaded {
    display: none;
}

#post-content-list {
    opacity: 0;
    display: none;
}

#post-content-list.loaded {
    display: block;
}

#header-link {
    transition: all 0.3s;
}

#header-link.marg {
    border-bottom: 1px solid #00aeef;
    transition: all 0.3s;
}

#post-content {
    line-height: 40px;
    text-align: justify;
}

#post-content img {
    display: block;
    margin: 30px 0;
}

#post-content h1 {
    font-weight: 400;
}

#post-content p {
    font-size: 18px;
}

#post-content h2 {
    font-weight: 400;
}

#img-profile-container {
    margin: 0;
    padding: 0;
    height: 100%;
}

#img-profile-container .img-circle {
    border: 2px solid #fff;
    box-shadow: 0 0 5px #cfcfcf;
    float: right;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

#img-profile-container .img-circle:hover {
    transform: scale(1.1);
}

.tomorrow-comment, pre .comment, pre .title {
    color: #969896;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #cc6666;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #de935f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #f0c674;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #b5bd68;
}

.tomorrow-aqua, pre .css .hexcolor {
    color: #8abeb7;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #81a2be;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
    color: #b294bb;
}

pre code {
    display: block;
    background: #1d1f21;
    color: #c5c8c6;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.6em;
}
blockquote p {
    display: inline;
    margin-left: 20px;
}

#register-link-container {
    padding-top: 10px;
}

.login-btn {
    padding: 13px 23px;
    float: right;
    background: #00AEEF;
    border: 1px solid #00AEEF;
    color: #fff;
}

.login-btn:hover {
    background: transparent;
}

#sidebar.sidebar-site {
    position: fixed;
    right: 100px;
}

