<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="https://www.bettshow.com/__resource/companyProfiles/6ACCB598-5056-B762-90FBD8967B0A498B-logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script defer src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-js/1.2.0/sticky.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js" defer></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :application, media: "all", :defer => "defer"  %>
  </head>
  <body>

  <!-- header -->
  <%= render "shared/header" %>
  <!--/#header-->
  <!-- mainbar -->
  <%= render "shared/mainbar" %>
  <!--/#action-->

  <section id="blog" class="padding-top" style="box-shadow: 4px 5px 10px #c0c0c0">

    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-7">
          <%= yield :content %>
        </div>
        <!-- sidebar -->
        <%= render "shared/sidebar" %>
      </div>
    </div>
  </section>
  <!--/#blog-->

  <!--Footer-->
  <footer class="page-footer font-small blue pt-4 mt-4" style="padding: 20px;background: #EEEEEE">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
      <div class="row">



        <!--/.Second column-->
      </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
      <a href="https://mdbootstrap.com/material-design-for-bootstrap/">Technoblog</a>
    </div>
    <!-- laisse moi écrire 2 sec stp -c'est bon tu peux continuer =->
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  </body>
</html>
