<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= csrf_meta_tags %>

  <link rel="icon" href="https://www.bettshow.com/__resource/companyProfiles/6ACCB598-5056-B762-90FBD8967B0A498B-logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script defer src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script defer src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag :application, media: "all" %>
</head>
<body>

<% if is_connect? %>
  <%= render "shared/sidebar-profile", user: User.find(session[:id])  %>
<% end %>

<!-- header -->
<%= render "shared/header" %>
<!--/#header-->
<!-- mainbar -->
<%= render "shared/mainbar" %>
<!--/#action-->

<section id="blog" class="padding-top">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield :content %>
      </div>
    </div>
  </div>
</section>
<!--/#blog-->
</body>
</html>
